@use "../../styles/colors" as *;

.new_listing {
  padding: 48px 0 96px;
  &_top {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 40px;
  }
  h2 {
    font-family: Commissioner;
    font-size: 40px;
    font-weight: 600;
  }
  .arrow {
    width: 26px;
    height: 26px;
  }
  .photosWrap {
    margin-top: 16px;
    display: flex;
    &_previews {
      display: flex;
      gap: 8px;
      img {
        margin-right: 8px;
      }
    }
  }
  .upload_file {
    width: 130px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 16px;
    background: $light-gray;
    color: rgba(17, 17, 17, 0.4);
    font-size: 20px;
  }
  .preview_img {
    width: 130px;
    height: 110px;
    border-radius: 16px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
  }

  .inputWrap {
    margin-bottom: 32px;
    &:last-of-type {
      margin-bottom: 40px;
    }
    &.buyout .inputWrap_descr {
      margin-top: 16px;
    }
    &.buyout .inputWrap_descr a {
      text-decoration: underline;
    }
    h3 {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 500;
    }
    input,
    textarea {
      max-width: 606px;
      width: 100%;
    }
    input[type="number"] {
      max-width: 150px;
    }
    textarea {
      padding: 16px;
      border-radius: 8px;
      background: $light-gray;
      outline: none;
      resize: none;
    }
    &_descr {
      color: rgba(17, 17, 17, 0.4);
    }
    &.title input {
      margin-bottom: 16px;
    }
  }
  .submitBtn {
    font-size: 20px;
    line-height: 24px;
    padding: 12px 40px;
  }
  .error {
    margin-top: 5px;
    font-size: 13px;
    color: $red-color;
  }
  .dropdown {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .new_listing {
    overflow: hidden;
    padding: 32px 0 72px;
    .arrow svg path {
      stroke-opacity: 1;
    }
    &_top {
      gap: 28px;
    }
    h2 {
      font-size: 38px;
    }
  }
}

@media (max-width: 500px) {
  .new_listing {
    h2 {
      font-size: 24px;
    }
    .inputWrap h3 {
      font-size: 20px;
    }
    input {
      font-size: 18px;
    }
    .dropdown,
    .submitBtn {
      font-size: 18px;
    }
    .submitBtn {
      width: 100%;
    }
    .inputWrap_descr {
      font-size: 15px;
    }
    .inputWrap.photos h3 {
      margin-bottom: 12px;
    }
    .upload_file,
    .preview_img {
      width: 106px;
      height: 90px;
    }
    .upload_file svg {
      width: 19px;
      height: 19px;
    }
  }
}
