@use "../../styles/colors" as *;

.footer {
  width: 100%;
  padding: 28px 0 64px;
  background: $light-gray;
  & .container {
    justify-content: space-between;
  }
  & .container,
  &_itemsWrap,
  &_socialMedia {
    display: flex;
  }
  &_itemsWrap {
    gap: 104px;
  }
  &_socialMedia {
    gap: 16px;
  }
  &_logo {
    display: block;
    margin-bottom: 24px;
    & .mobile {
      display: none;
    }
  }
  &_items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &_items a {
    color: $primary-black;
  }
  & .privacy {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 16px 0 40px;
    &_left {
      width: 100%;
    }
    & .container {
      flex-direction: column;
      gap: 64px;
    }
  }
}

@media (max-width: 550px) {
  .footer {
    border-radius: 24px 24px 0px 0px;
    &_right {
      align-self: center;
      margin-bottom: 72px;
    }
    &_logo {
      margin-bottom: 32px;
    }
    &_itemsWrap {
      gap: 56px;
    }
    &_items {
      font-size: 12px;
      line-height: 15px;
    }
    &_socialMedia li {
      width: 40px;
      height: 40px;
    }
    & .privacy {
      display: block;
      text-align: center;
      font-size: 14px;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      color: $primary-black;
    }
  }
}
