@use "../../styles//colors" as *;

.checkboxWrapper {
  & input {
    position: absolute;
    opacity: 0;
    сursor: pointer;
  }

  & label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  & span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;
    background-color: $light-gray;
    border: 1px solid #dedede;
    border-radius: 50%;
  }

  & span:after {
    content: "";
    position: absolute;
    display: none;
  }

  & label input:checked ~ span:after {
    display: block;
  }

  & label span:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $red-color;
  }
}

@media (max-width: 550px) {
  .checkboxWrapper {
    & label {
      font-size: 18px;
    }
  }
}
