@use "../../styles/colors" as *;

.modal {
  overflow: hidden;
  &_title {
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  &_note {
    color: rgba(17, 17, 17, 0.6);
    font-size: 14px;
    & a {
      text-decoration: underline;
      color: inherit;
    }
  }
  & .inputWrap {
    position: relative;
    & .inputBtn {
      height: calc(100% - 2px);
      position: absolute;
      right: 1px;
      top: 1px;
    }
  }

  &.location {
    max-height: 675px;
    height: 85vh;
    width: 624px;
    padding: 42px 24px 24px;

    & .cities {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      gap: 8px 48px;
      max-height: 536px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 15px;
      &::-webkit-scrollbar {
        width: 3px;
        background: rgba(17, 17, 17, 0.14);
        border-radius: 3px;
        opacity: 0.4;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(17, 17, 17, 0.18);
      }
    }
    & .city {
      display: block;
      text-align: left;
    }
    & .inputWrap input {
      font-size: 14px;
      line-height: 17px;
      padding: 8px 112px 8px 16px;
    }
    & .inputWrap::after {
      content: "";
      width: 16px;
      height: 16px;
      background: url(../../assets/search-icon.svg);
      position: absolute;
      top: 50%;
      right: 93px;
      transform: translateY(-50%);
    }
  }
  &.location .location_top {
    position: relative;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 17px;

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background: url(../../assets/search-icon.svg);
      position: absolute;
      top: 50%;
      right: 93px;
      transform: translateY(-50%);
    }

    & input {
      width: 576px;
      padding: 7.5px 16px;
    }
  }

  &.auth,
  &.phone,
  &.registr,
  &.login,
  &.carPhone {
    width: 587px;
    padding: 40px;
  }

  &.phone input {
    font-size: 20px;
    line-height: 24px;
    padding: 13.5px 50px 13.5px 16px;
  }
  & .inputWrap {
    margin-bottom: 32px;
  }
  &.phone .phone_input {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
  }
  &.phone .inputBtn {
    font-size: 20px;
  }

  &.confirm .confirm {
    &_text {
      margin-bottom: 16px;
      line-height: 19px;
    }

    &_input {
      width: 232px;
      font-size: 16px;
      line-height: 20px;
      padding: 14px 20px;
    }
  }
  &.confirm {
    & input {
      width: 232px;
    }
    & .resendBtn,
    & .modal_note {
      margin: 16px 0;
      line-height: 17px;
    }
    & .confirmBtn {
      padding: 12px 44px;
      font-size: 20px;
      line-height: 24px;
      border-radius: 12px;
    }
    & .modal_title {
      margin-bottom: 16px;
    }
  }

  &.registr {
    & input {
      font-size: 18px;
      line-height: 22px;
    }
    & .registrBtn {
      padding: 12px 24px;
      margin: 24px 0;
      font-size: 20px;
      line-height: 24px;
      border-radius: 12px;
    }
    & .passwordWrap {
      margin-bottom: 16px;
    }
    & .eye {
      right: 16px;
    }
    & .passwordWrap:last-of-type {
      margin-bottom: 32px;
    }
  }

  & .auth_input {
    margin-bottom: 16px;
    & input {
      padding: 16px;
      font-size: 18px;
      line-height: 22px;
    }
    &:last-of-type {
      margin-bottom: 24px;
    }
    &.invalid input {
      border-color: $red-color;
    }
  }

  &.login {
    height: 90vh;
    max-height: 756px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    & input {
      font-size: 20px;
      line-height: 24px;
    }
    & .passwordWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & .auth_input:nth-child(3) {
      margin-bottom: 32px;
    }
    & .forgotBtn {
      color: $red-color;
      font-size: 20px;
    }
    & .checkboxLabel {
      font-size: 20px;
    }
    & .loginBtn {
      margin: 24px 0 32px;
      padding: 12px 48px;
      font-size: 20px;
      line-height: 24px;
      border-radius: 12px;
    }
    & .loginWays {
      margin-bottom: 32px;
    }
    & .login_text {
      font-size: 20px;
      margin-bottom: 16px;
    }
    & .loginItems {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    & .loginItems button {
      width: 48px;
      height: 48px;
    }
    & .regLink {
      font-size: 20px;
      border-radius: 16px;
      margin-bottom: 24px;
    }
    .forgotBtn.mobile {
      display: none;
    }
  }

  &.carPhone {
    width: 467px;
  }
  .carPhone {
    &_top {
      display: flex;
      gap: 8px;
      margin-bottom: 16px;
    }
    &_img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: #dedede;
    }
    &_info h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    &_ratingInfo {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    &_phone {
      font-size: 28px;
      font-weight: 600;
    }
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkboxInput {
  display: none;
}

.checkboxCustom {
  width: 32px;
  height: 32px;
  border: 1px solid #dedede;
  background: $light-gray;
  border-radius: 4px;
  margin-right: 16px;
  position: relative;
  transition: all 0.2s;
}

.checkboxInput:checked + .checkboxCustom {
  background: url(../../assets/checkbox-checked.svg);
  background-size: 100%;
}

.checkboxLabel {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .modal {
    &.auth,
    &.registr,
    &.phone,
    &.login,
    &.location {
      width: 100%;
    }
    &.location {
      padding: 82px 20px 20px;
      justify-content: center;
      height: 100%;
      max-height: 100%;
      .cities {
        max-height: 100%;
      }
    }

    &_title {
      text-align: center;
    }

    &.confirm {
      display: flex;
      flex-direction: column;
      align-items: center;
      & br.hide {
        display: none;
      }
      & .modal_note {
        margin: 12px 0 64px;
      }
    }

    input {
      width: 100% !important;
    }
  }
}

@media (max-width: 600px) {
  .modal {
    &.location {
      .cities {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        gap: 6px 45px;
      }
      .city {
        font-size: 14px;
      }
    }
    &.carPhone {
      width: 100%;
      padding: 35px 30px;
    }
    .carPhone {
      &_top {
        margin-bottom: 10px;
      }
      &_phone {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 550px) {
  .modal {
    &_note {
      font-size: 12px;
    }
    &.registr,
    &.login {
      padding: 56px 20px 20px;
    }
    &.auth,
    &.phone {
      padding: 82px 20px 20px;
    }
    &.registr input {
      padding: 13px 20px;
      font-size: 16px;
      line-height: 20px;
    }
    &_title {
      font-size: 28px;
      line-height: 34px;
    }
    &.registr .passwordWrap:last-of-type {
      margin-bottom: 24px;
    }
    &.registr .checkboxCustom,
    &.login .checkboxCustom {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
    &.registr .checkboxLabel,
    &.login .checkboxLabel {
      font-size: 15px;
    }

    &.registr {
      & .registrBtn {
        width: 100%;
      }
    }
    &.phone {
      .inputWrap {
        margin-bottom: 24px;
      }
      .inputWrap .inputBtn {
        position: static;
        width: 100%;
        padding: 12px 24px;
        line-height: 24px;
        margin-top: 160px;
        border-radius: 12px;
      }
      input {
        font-size: 16px;
        line-height: 20px;
        padding: 13px 20px;
      }
    }
    &.confirm {
      .modal_title {
        margin-bottom: 32px;
      }
      .modal_note {
        font-size: 14px;
        align-self: flex-start;
      }
      .confirmBtn {
        width: 100%;
      }
    }

    &.login {
      input {
        font-size: 16px;
        line-height: 20px;
      }
      .loginBtn,
      .regLink {
        width: 100%;
      }
      .forgotBtn.desktop {
        display: none;
      }
      .forgotBtn.mobile {
        display: block;
        margin-bottom: 40px;
      }
    }
  }
}
