@use "../../../styles/colors" as *;

.wrapper {
  position: relative;
}

.story {
  &Viewer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &_slider {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0 auto;
  }

  &_card {
    position: relative;
    width: 100%;
    height: 100%;
    width: 280px;
    height: 501px;
    border-radius: 40px;
    overflow: visible;
    background: #fff;
    z-index: 1000;

    &.center {
      opacity: 1;
      z-index: 2;
      height: 783px;
      width: 400px;
    }

    &.faded {
      background: #c6c6c6;
    }
  }

  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border-radius: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
}

.nav_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover svg path {
    fill-opacity: 0.64;
  }

  &:active svg path {
    fill-opacity: 1;
  }

  svg {
    width: 36px;
    height: 36px;
    fill: #111;
    cursor: pointer;
  }

  &.prev {
    left: -88px;
  }

  &.next {
    right: -88px;
    svg {
      transform: rotate(180deg);
    }
  }
}

.closeBtn {
  position: absolute;
  top: 0;
  right: -56px;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 32px;
    height: 32px;
    path {
      fill: $light-gray;
      fill-opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .story {
    &_card {
      max-width: 100%;
      max-height: 600px;
      overflow: hidden;
      &.center {
        margin: 0 auto;
      }
    }
  }

  .nav_arrow {
    display: none;
  }
}

@media (max-width: 500px) {
  .story {
    &_card {
      &.center {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 370px) {
  .story {
    &_card {
      &.center {
        max-width: 85%;
      }
    }
  }
}
