@use "../../styles/colors" as *;

.home {
  // display: flex;
  display: grid;
  grid-template-columns: 912px 300px;
  padding: 0 0 96px;
  gap: 20px;
  &_main {
    max-width: 912px;
  }
  &_options {
    display: flex;
    gap: 8px;

    & .top_row,
    & .bottom_row,
    &Wrap {
      display: flex;
      gap: 8px;
    }

    &Wrap {
      flex-direction: column;
    }
  }
  &_option {
    position: relative;
    width: 160px;
    height: 150px;
    padding-top: 12px;
    border-radius: 18px;
    border: 1px solid #dedede;
    box-shadow: 1px 2px 32px 0px rgba(17, 17, 17, 0.08);
    overflow: hidden;

    &.full_height {
      width: 253px;
      height: 308px;
    }
    &.full_height .title {
      color: rgba(17, 17, 17, 0.6);
    }

    & img,
    & svg {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    &.big {
      width: 327px;
    }

    &.big .title {
      margin-left: 24px;
    }

    & .title {
      margin-left: 20px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: $primary-black;
    }
  }
  &_info_points {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 450px;
    margin: 24px 0 40px;
  }
  &_filter {
    background: $light-gray;
    border-radius: 12px;
    display: flex;
    place-items: center;
    color: #0a1910;
    padding: 15px 20px;
    transition: background 0.3s ease;
    &:hover,
    &:active,
    &.active {
      background: #dedede;
    }
    &.large {
      padding: 13px 17px;
      font-size: 20px;
      gap: 9px;
    }
    &.large svg {
      width: 16px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &_recommends {
    & .title span {
      color: $red-color;
    }
    &_grid {
      position: relative;
      margin: 28px 0 52px;
      max-width: 856px;
      display: grid;
      grid-template-columns: repeat(4, minmax(165px, 214px));
      justify-content: space-between;
      gap: 8px 4px;
    }
    & .load {
      bottom: -64px;
    }
  }

  &_ads {
    position: sticky;
    top: 125px;
    height: 750px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &_ad {
    width: 100%;
    border: 1px solid $light-gray;
    background: #fff;
    box-shadow: 1px 2px 32px 0px rgba(17, 17, 17, 0.08);
    & p {
      font-size: 24px;
      font-weight: 500;
    }
    &:nth-child(1) {
      padding: 40px 31px;
      height: 250px;
    }
    &:nth-child(2) {
      padding: 56px 26px;
      height: 500px;
    }
  }
}
