@use "../../styles/colors" as *;

.home {
  display: flex;
  padding: 0 0 96px;
  gap: 20px;
  &_main {
    max-width: 912px;
    width: 100%;
    width: 75.5%;
  }
  &_options {
    display: flex;
    gap: 8px;

    & .top_row,
    & .bottom_row,
    &Wrap {
      display: flex;
      gap: 8px;
    }

    &Wrap {
      width: 73%;
      flex-direction: column;
    }
  }
  &_option {
    position: relative;
    max-width: 160px;
    width: 100%;
    min-width: 140px;
    height: 150px;
    padding-top: 12px;
    border-radius: 18px;
    border: 1px solid #dedede;
    box-shadow: 1px 2px 32px 0px rgba(17, 17, 17, 0.08);
    overflow: hidden;
    transition: background 0.3s ease;

    &:hover {
      background: #c2c2c22b;
    }

    &.full_height {
      max-width: 253px;
      width: 100%;
      height: 308px;
    }
    &.full_height .title {
      color: rgba(17, 17, 17, 0.6);
    }

    &.mobile,
    &Visible {
      display: none;
    }
    & svg {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    &.big {
      max-width: 327px;
      width: 100%;
    }

    &.big .title {
      margin-left: 24px;
    }

    & .title {
      margin-left: 20px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: $primary-black;
    }
  }
  &_info_points {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    max-width: 580px;
    margin: 24px 0 40px;
  }
  &_filter {
    background: $light-gray;
    border-radius: 12px;
    display: flex;
    place-items: center;
    color: #0a1910;
    padding: 15px 20px;
    transition: background 0.3s ease;
    &:hover,
    &:active,
    &.active {
      background: #dedede;
    }
    &.large {
      padding: 13px 17px;
      font-size: 20px;
      gap: 9px;
    }
    &.large svg {
      width: 16px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &_recommends {
    & .title span {
      color: $red-color;
    }
    &_grid {
      position: relative;
      margin: 28px 0 0;
      max-width: 868px;
      display: grid;
      grid-template-columns: repeat(4, minmax(165px, 214px));
      grid-auto-flow: dense;
      justify-content: space-between;
      gap: 8px 4px;
    }
    & .load {
      bottom: -64px;
    }
    & .header_mobile {
      display: none;
    }
  }

  &_ads {
    width: 24.5%;
    position: sticky;
    top: 125px;
    height: 750px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &_ad {
    width: 100%;
    border: 1px solid $light-gray;
    background: #fff;
    box-shadow: 1px 2px 32px 0px rgba(17, 17, 17, 0.08);
    & p {
      font-size: 24px;
      font-weight: 500;
    }
    &:nth-child(1) {
      padding: 40px 31px;
      height: 250px;
    }
    &:nth-child(2) {
      padding: 56px 26px;
      height: 500px;
    }
  }
  &_swiper {
    display: none;
  }
  .option_img {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.filterPage {
  .filterBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    padding: 10px 20px;
  }
  .home_main {
    max-width: unset;
    width: 100%;
  }
  .home_info_points {
    margin-bottom: 0;
  }
  .home_recommends {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding-top: 16px;
  }
  .home_recommends_grid {
    margin-top: 0;
  }
  .footer_list {
    margin-bottom: 96px;
    width: 70.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 16px 64px;
    li {
      width: fit-content;
      line-height: 20px;
    }
  }
}

@media (max-width: 1000px) {
  .home {
    &_ads {
      display: none;
    }
    &_main {
      max-width: 100%;
      width: 100%;
    }
    &_options {
      flex-wrap: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      margin-right: -20px;
      &::-webkit-scrollbar {
        display: none;
      }
      &Wrap {
        width: auto;
      }
    }

    &_option {
      width: 160px;
      height: 150px;
      min-width: unset;
      max-width: unset;
      &.big {
        width: 327px;
      }
      &.full_height {
        width: 253px;
        max-width: 100%;
        flex-shrink: 0;
      }
    }

    &_swiper &_options {
      display: flex;
    }

    &_recommends_grid {
      max-width: 100%;
    }
  }
  .filterPage {
    .home_recommends {
      display: block;
      width: 100%;
    }
    .footer_list {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .home {
    &Wrap {
      padding: 0;
      &.filterPage {
        .home_info_points {
          margin: 16px 0;
        }
        .home_recommends,
        .home_recommends_grid {
          margin-top: 0;
        }
        .filterBtn {
          padding: 10px 16px;
        }
      }
    }
    &_info,
    &_recommends .title {
      padding: 0 20px;
    }
    &_option {
      width: 140px;
      height: 140px;
      &.big {
        width: 288px;
      }
      &.full_height {
        height: 288px;
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 3;
      }

      &:nth-child(2) {
        order: 4;
      }
    }

    &_options {
      padding-left: 20px;
      margin-right: 0;
    }

    &_recommends {
      &_grid {
        margin: 28px 0 0;
        padding: 0 20px;
        max-width: 856px;
        display: grid;
        grid-template-columns: repeat(3, minmax(155px, 214px));
        justify-content: space-between;
        gap: 8px 4px;
      }

      & .header_mobile {
        display: flex;
      }
    }

    &_info_points {
      margin: 24px 0;
    }
    &Wrap.filterPage {
      .footer_list {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px 40px;
        margin-bottom: 72px;
        li {
          font-size: 12px;
          line-height: 15px;
        }
      }
      .footer_list li:nth-child(3),
      .footer_list li:nth-child(4),
      .footer_list li:nth-child(7),
      .footer_list li:nth-child(8),
      .footer_list li:nth-child(11),
      .footer_list li:nth-child(12),
      .footer_list li:nth-child(15),
      .footer_list li:nth-child(16) {
        display: none;
      }
    }
  }
}

@media (max-width: 550px) {
  .home {
    &_recommends {
      &_grid {
        overflow: hidden;
        grid-template-columns: repeat(2, minmax(155px, 1fr));
        gap: 16px;
      }
    }
    &_option {
      width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.big {
        width: 200px;
      }
      &.big .title {
        margin-left: 16px;
      }
      & .title {
        margin-left: 13px;
      }
      & svg {
        position: static;
        height: 88px;
        align-self: center;
      }
      &.full_height,
      &Hide {
        display: none;
      }
      &.mobile,
      &Visible {
        display: flex;
      }

      &.mobile svg {
        width: 88px;
      }

      &.big.resize {
        width: 140px;
      }
    }

    &_filter.large {
      font-size: 16px;
      line-height: 20px;
    }

    &_info_points {
      font-size: 14px;
      line-height: 17px;
      gap: 12px;
    }

    &_filter_choose {
      padding: 0 !important;
    }

    &_filter {
      padding: 12px 19px;
    }

    &_recommends {
      margin: 24px 0 0;
      & .title {
        margin-top: 29px;
      }
    }
    &Wrap.filterPage {
      .home_recommends {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 390px) {
  .home {
    &_recommends_grid {
      gap: 10px;
      grid-template-columns: repeat(2, minmax(145px, 1fr));
    }
  }
}
