@use "../../styles/colors" as *;

.carCard {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-height: 310px;
  height: 100%;
  &_bottom {
    margin-top: auto;
  }
  &.fullWidth {
    grid-column: span 4;
  }
  &_imgWrap {
    position: relative;
    margin-bottom: 12px;
    max-width: 190px;
    max-height: 147px;
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.ads &_imgWrap::before {
    content: "Реклама";
    position: absolute;
    top: 6px;
    left: 6px;
    color: #b7b7b7;
    font-size: 12px;
    line-height: 15px;
  }
  &_moreBtn {
    display: none;
  }
  &.ads &_moreBtn {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 6px;
    top: 6px;
  }
  &_img {
    width: 100%;
    border-radius: 16px;
  }
  &_title,
  &_buyOption {
    color: $primary-black;
    font-weight: 500;
  }
  &_title {
    position: relative;
    p {
      width: 90%;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }
  }
  &_likeBtn {
    width: 20px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    & svg path {
      transition: fill 0.3 ease;
    }

    &:active svg path {
      fill: $red-color;
    }
  }
  &.ads &_likeBtn {
    display: none;
  }
  &_buyOption {
    font-size: 14px;
  }
  &_price {
    width: 150px;
    margin: 8px 0;
    padding: 2px 0;
    color: $red-color;
    font-weight: 600;
    line-height: 20px;
  }
  &.ads &_price {
    padding: 2px 8px;
    font-size: 15px;
    color: #fff;
    border-radius: 8px;
    background: $red-color;
  }
  &_list li {
    color: rgba(17, 17, 17, 0.4);
    font-size: 13px;
    &:not(:last-of-type) {
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 1000px) {
  .carCard {
    padding: 6px 6px 12px;
  }
}

@media (max-width: 550px) {
  .carCard {
    &_imgWrap {
      max-width: 100%;
      // max-height: 100%;
      // aspect-ratio: auto;
      margin-bottom: 8px;
    }
    &_title,
    &_price {
      font-size: 14px;
    }
    &_buyOption {
      font-size: 13px;
    }
    &_price {
      margin: 6px 0;
    }
    &_list li {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 4px;
    }
  }
}

@media (max-width: 391px) {
  .carCard {
    padding: 4px 4px 12px;
    &_imgWrap {
      max-width: 100%;
      max-height: 122px;
      width: 100%;
    }
  }
}
