@use "../../styles/colors" as *;

.header_mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 11px 16px;
  background: $light-gray;

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 49px;
    font-size: 13px;
    line-height: 15px;
    color: $primary-black;
    svg {
      width: 32px;
      height: 32px;
    }
    &.like svg {
      width: 36px;
      height: 36px;
    }
  }
}

@media (max-width: 900px) {
  .header_mobile {
    display: flex;
  }
}

@media (max-width: 550px) {
  .header_mobile_item {
    font-size: 12px;
    svg {
      width: 26px;
      height: 26px;
    }
    &.like svg {
      width: 31px;
      height: 31px;
    }
  }
}

@media (max-width: 390px) {
  .header_mobile {
    gap: 6px;
  }
}

@media (max-width: 360px) {
  .header_mobile_item {
    font-size: 11px;
  }
}
