@use "./styles/colors" as *;

body {
  color: $primary-black;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.red-btn {
  padding: 8px 18px;
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  border-radius: 7px;
  background: $red-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: background 0.3s ease;
  &:hover {
    background: #c52330;
  }
}

.white-btn {
  padding: 16px 28px;
  border-radius: 12px;
  border: 2px solid $red-color;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
  &:hover {
    color: $red-color;
  }
}

.gray-btn {
  background: #dedede;
}

input {
  width: 100%;
  padding: 16px;
  background: $light-gray;
  border-radius: 8px;
  border: 1px solid #dedede;
  font-size: 14px;
  line-height: 100%;

  &::placeholder {
    color: rgba(17, 17, 17, 0.4);
  }

  &.invalid {
    border-color: $red-color;
    color: $red-color;
  }
}

.eyeBtn {
  display: none;
}

.passwordWrap {
  position: relative;
  & input {
    margin-bottom: 0 !important;
  }
  & .eyeBtn {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}

.swiper-wrap {
  position: relative;
  padding: 0 84px;
  & .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  & .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .custom-button-next,
  & .custom-button-prev {
    position: absolute;
    top: 38px;
  }

  & .custom-button-prev {
    left: 0;
  }

  & .custom-button-next {
    right: 0;
  }

  & .custom-button-next svg {
    transform: rotate(180deg);
  }
}

.swiper-arrow {
  width: 44px;
  height: 44px;
  cursor: pointer;
  & svg path {
    transition: fill 0.3s, fill-opacity 0.3s;
  }
  &:not(:disabled):hover svg path {
    fill: #111111;
    fill-opacity: 0.64;
  }
  &:not(:disabled):active svg path {
    fill: #111111;
    fill-opacity: 1;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.story-viewer .swiper-wrapper {
  display: flex;
  align-items: center;
  & .modal_content {
    background: transparent !important;
  }
  & .swiper-slide {
    width: 280px;
  }

  & .swiper-slide-active {
    position: relative;
    width: 400px;
  }
}

.story-button-next svg {
  transform: rotate(180deg);
}

.stories {
  background: transparent;
}

.swiper.home_swiper {
  display: none;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkboxInput {
  display: none;
}

.checkboxCustom {
  width: 32px;
  height: 32px;
  border: 1px solid #dedede;
  background: $light-gray;
  border-radius: 4px;
  margin-right: 16px;
  position: relative;
  transition: all 0.2s;
}

.checkboxInput:checked + .checkboxCustom {
  background: url(./assets/checkbox-checked.svg);
  background-size: 100%;
}

.checkboxLabel {
  font-size: 18px;
  line-height: 22px;
}

.SwiperThumbs {
  max-width: 786px;
  width: 100%;
  margin: 0;
  .swiper-slide img {
    border-radius: 8px;
  }
  .swiper-slide-active img {
    width: 786px;
    height: 532px;
    object-fit: cover;
  }
}

.swiper.SwiperThumbs_min {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .swiper-slide {
    width: 151px !important;
  }
}

.SwiperThumbs .swiper-slide,
.SwiperThumbs_min .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.SwiperThumbs .swiper-slide img,
.SwiperThumbs_min .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .swiper.home_swiper {
    display: block;
  }

  .SwiperThumbs {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .swiper-wrap {
    padding: 0 50px;
  }

  .swiper-arrow {
    width: 36px;
    height: 36px;
  }
  input {
    font-size: 16px;
  }

  .section-title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .stories .swiper-horizontal {
    padding: 0 20px;
  }
  .swiper-wrap {
    padding: 0 20px;
    margin: 0 -20px;
    &::-webkit-scrollbar {
      display: none;
    }
    & .custom-button-next,
    & .custom-button-prev {
      display: none;
    }
  }
  .swiper.SwiperThumbs_min {
    display: none;
  }
  .carPhoneModal {
    width: 467px;
    height: auto;
    border-radius: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 550px) {
  .section-title {
    font-size: 24px;
  }

  .SwiperThumbs {
    .swiper-slide img {
      max-height: 250px;
    }
  }
}
